<main class="FirstSection">
  <img class="FirstSection-logo" src="assets/logo.png">
  <div class="FirstSection-socialNetworks">
    <a href="https://twitter.com/_virusteam" target="_blank">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="https://www.instagram.com/_virusteam/" target="_blank">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="https://www.tiktok.com/@_virusteam" target="_blank">
        <i class="fab fa-tiktok"></i>
    </a>
    <a href="https://www.youtube.com/channel/UCxIwYmpNukmKrQCXVvczHtg" target="_blank">
        <i class="fab fa-youtube"></i>
    </a>
  </div>
  <div class="FirstSection-enterServer">
    <a href="fivem://connect/cfx.re/join/">
      <button class="FirstSection-enterServer-button">Entrar a VirusRP Beta</button>
    </a>
  </div>
</main>
