.FirstSection {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    height: -moz-available;
    height: -webkit-fill-available;
    height: fill-available;
    justify-content: center;
}

.FirstSection-socialNetworks {
    padding-top: 40px;
}

.FirstSection-enterServer {
    padding-top: 40px;
}

@media only screen and (max-width: 769px) {
    .FirstSection-enterServer {
        visibility: hidden;
    }
}


.FirstSection-logo {
    width: auto;
}

@media (orientation: landscape) {
    .FirstSection-logo {
        width: 25%;
    }
}

@media only screen and (max-width: 426px) {
    .FirstSection-logo {
        width: 80%;
    }
}

.FirstSection-enterServer-button {
    background-color: #4CAF50;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: 'Major Mono Display', monospace;
    font-size: 25px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}

i {
    font-size: 50px;
    padding: 0 15px;
    font-weight: 400;
    color: #fffa74;
}

.announcement {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
