/* You can add global styles to this file, and also import other style files */
html, body {
    background-color: #171717;
    height:100%;
    padding:0;
    margin:0;
}

a {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: red;
}
